@model Wholesaler

@{ Layout = "_AdminLayout";}

<form asp-action="EditWholesaler" method="post">

<input type="hidden" asp-for="WholesalerId"/>

<div class="form-group">
    <label asp-for="Name">Nazwa</label>
    <input asp-for="Name" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="City">Miasto</label>
    <textarea asp-for="City" class="form-control"></textarea>
</div>
<div class="form-group">
    <label asp-for="Street">Ulica</label>
    <input asp-for="Street" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="PostalCode">Kod Pocztowy</label>
    <input asp-for="PostalCode" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="Email">Email</label>
    <input asp-for="Email" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="WarehouseId">ID Hurtownii</label>
    <input asp-for="WarehouseId" class="form-control" />
</div>
<div class="text-center">
    <button class="btn btn-primary" type="submit">Zapisz</button>
    <a asp-action="List" class="btn btn-secondary">Anuluj</a>
    
</div>
</form>